<!DOCTYPE html>
<html lang="en">

<head>
    <title>Smart Home Application</title>
    <meta charset="utf-8">
    <meta name="description" content="Friday | Smart Home Application">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Passion+One">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/mobile.css">
    <link rel="stylesheet" type="text/css" href="/css/add_device_style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">

    <script src="/js/scripts.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body onload="check_sidebar();" ;>
    <nav id="top-bar">

        {{>menu}}

    </nav>

    <div class="content" style="background-color: #343434;">
        <div id="sidebar">
            {{>sidebar}}
        </div>
    </div>
    <div id="main">
        <div class='section_1'>
            <div class="container">
                <form class="form_container" action="/rooms/add" method="POST">
                    <h1>Select Room</h1>
                    {{>messages}}
                    <select class="device_option" name="option">
                        <option value="" disabled selected>Rooms</option>
                        <option value="Living Room">&#xf26c; &ensp; Living Room</option>
                        <option value="Bedroom">&#xf236; &ensp; Bedroom</option>
                        <option value="Bathroom">&#xf2cd; &ensp; Bathroom</option>
                        <option value="Kitchen Room">&#xf000; &ensp; Kitchen</option>
                        <option value="Garden Room">&#xf1bb; &ensp; Garden</option>
                        <option value="Other Room">&#xf0c1; &ensp; Other</option>
                    </select>
                    <h3>Room Name <i style="font-size:0.7em">(Optional)</i></h3>
                    <input type="text" id="comment" name="name" placeholder="e.g Maria">

                    <p><button type="submit">Add</button></p>
                </form>
            </div>
        </div>
        {{footer_mini}}
    </div>

</body>

</html>