<!DOCTYPE html>
<html lang="en">

<head>
    <title>Smart Home Application</title>
    <meta charset="utf-8">
    <meta name="description" content="Friday | Smart Home Application">
    <link rel="shortcut icon" type="image/png" href="/images/favicon.png" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Passion+One">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="stylesheet" type="text/css" href="/css/mobile.css">
    <link rel="stylesheet" type="text/css" href="/css/history_style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    {{!-- <script src="/js/new.js"></script> --}}
    <script src="/js/scripts.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="js/Chart.js"></script>



    <meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
    <button onclick="topFunction()" id="myBtn" title="Go to top">Top</button>
    <nav id="top-bar">

        {{>menu}}
    </nav>

    <div class="content" style="background-color: #343434;">
        <div id="sidebar">
            {{>sidebar}}
        </div>
    </div>
    <div id="main">
        <div class='section_1'>

            <div class="history-container">
                <h2>History</h2>
                <hr class="separator">
                {{#if devices}}
                {{#each devices}}
                {{#ifCond devices.deviceType '==' 'thermometer'}}
                <h3>Temperature</h3>
                <div class="graph_box">
                    <canvas class="temperature_chart" width="100%" height="100%"></canvas>
                    <br>
                    <button id="addData_temperature" onclick="add_new_data_temperature();">Add Data</button>
                </div>
                {{/ifCond}}
                {{#ifCond devices.deviceType '==' 'hsensor'}}
                <h3>Humidity</h3>
                <div class="graph_box">
                    <canvas class="humidity_chart" width="100%" height="100%"></canvas>
                    <br>
                    <button id="addData_humidity" onclick="add_new_data_humidity();">Add Data</button>
                </div>
                 {{/ifCond}}
                {{#ifCond devices.deviceType '==' 'rainsensor'}}
                <h3>Rain</h3>
                <div class="graph_box">
                    <canvas class="rain_chart" width="100%" height="100%"></canvas>
                    <br>
                    <button id="addData_rain" onclick="add_new_data_rain();">Add Data</button>
                </div>
                 {{/ifCond}}
                {{/each}}
                {{/if}}
            </div>
            {{>temperature_graph}}
            {{>humidity_graph}}
            {{>rain_graph}}

        </div>
        {{>footer_mini}}


    </div>

</body>

</html>