<div class="footer">
    <div class="footer_row">
        <div class="footer_col_1">
            <a href="https://www.upatras.gr/el"><img src="/images/university_patras.png"></a>
            <a href="https://hci.ece.upatras.gr/"><img src="/images/hci_group_white.png"></a>
        </div>
        <div class="footer_col_2">
            <h2>Links</h2>
            <ul>

                <li><a href="/">Home</a></li>
                <li><a href="/#about">About</a></li>
                <li><a href="/#servises">Services</a></li>
                <li><a href="/#team">Team</a></li>
                <li><a href="/#contact">Contact</a></li>
            </ul>

        </div>
        <div class="footer_col_3">
            <h2>Application</h2>
            <ul>

                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/rooms">Rooms</a></li>
                <li><a href="/devices">Devices</a></li>
                <li><a href="/cameras">Cameras</a></li>
                <li><a href="/history">History</a></li>
            </ul>

        </div>
        <div class="footer_col_4">
            <h2>Information</h2>
            <p><i class="fa fa-user" aria-hidden="true"></i>&ensp;
                Vangelis Spathonis <br>
                <i class="fa fa-user" aria-hidden="true"></i>&ensp;
                Thanasis Kalatheris <br>
                <i class="fa fa-envelope" aria-hidden="true"></i>&ensp;
                fridaysmarthome@gmail.com <br>
                <i class="fa fa-university" aria-hidden="true"></i>&ensp;
                University Of Patras <br>
                <i class="fa fa-graduation-cap" aria-hidden="true"></i>&ensp;
                Electrical and Computer Engineering <br>
                <i class="fa fa-map-marker" aria-hidden="true"></i>&ensp;
                Patra, Greece
            </p>

        </div>
    </div>
    <p id="copyright">&copy; 2019 University Of Patras<p>
</div>