{{#if sessionedRender}}
{{else}}
<div class="login_wrapper">
    <div class="screen-header">
        <div class="screen-header-left">
            <div class="screen-header-button close"></div>
            <div class="screen-header-button maximize"></div>
            <div class="screen-header-button minimize"></div>
        </div>
        <div class="screen-header-right">
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
            <div class="screen-header-ellipsis"></div>
        </div>
    </div>
    <div class="login_box">
        <h2>Log in</h2>
        <form action="/login" method="POST">

            <div class="log_in_container">
                <input type="text" placeholder="Username" name="username" type="username" required
                    class="app-form-control">

                <input type="password" placeholder="Password" name="password" type="password" required
                    class="app-form-control">
                <div class="app-form-group buttons">
                    <button type="submit" class="app-form-button">Log in</button>
                </div>
                <a class='forgot' href='/recover'>Forgot your password?</a>
            </div>
        </form>

    </div>
</div>
{{/if}}